.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

/* NAVBAR */

.navbar {
  background-color: rgba(128, 128, 128, 0.7);
}

#logo {
  border-radius: 12px;
}

.carro {
    height: 4rem;
    border-radius: 100;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    cursor: pointer;
}

.cartwidget span {
  position: absolute;
  z-index: 1;
  background-color: orange;
  padding: 3px 7px;
  border-radius: 20px;
  margin-left: -35px;
  font-weight: bold;
  color: black;
}

.links-div {
  justify-content: space-around;
}

/* ITEM LIST CONTAINER */


.card {
  margin: 18px 18px auto
}

.item-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: 50px 50px;
}

.item {
  color: midnightblue;
}

.contador {
  margin: auto 50px;
  font-weight: bold;
  font-size: larger;
}

a {
  text-decoration: none;
}

.links {
  font-weight: bolder;
  font-size: large;
  color: #282c34;
  text-decoration: none;
  margin: auto 10px;
}

.volver {
  justify-content: flex-start;
}

#loader {
  margin: 200px auto 200px auto; 
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
}

/* ITEM DETAIL */

.item-detail-container {
  margin: 50px auto;
}

.select-gb {
  width: 70px;
}

.option-gb {
  text-align: center;
}

/*Footer */

.shadow{
  background-color: rgba(128, 128, 128, 0.7);
  position: static;
}

/* BUTTONS */

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: midnightblue;
    border-color: gray;
}

.delete {
  margin: 0px 0px auto auto;
  display: flex;
}
